<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">
    <title></title>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      h1{
        text-align: center;
      }
      p{
        text-align: justify;
        font-size: 20px;
      }
      small{
        text-align: left;
        font-size: 10px;
      }
      img{
        align-self: center;
        height: 250px;
        max-height: 100%;
        width: auto;
        max-width: 100%;
      }
      #botaoAdicionar{
        height: 70px;
        max-height: 100%;
        width: 100%;
      }
      #botoesExtras{
        height: 70px;
        max-height: 100%;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <script src="dist/js/bootstrap.bundle.min.js"></script>
    {{{body}}}
  </body>
</html>
