<form action="/cadastro" method="post" enctype="multipart/form-data">
  <br>
  <p> <center> Nome: </p> <input type="text" name="Nome">
  <p> <center> Descrição: </p> <textarea rows="6" cols="40" name="Descricao"></textarea>
  <p> <center> Imagem: <input type="file" name="Imagem"> </p>
  <button type="submit" id="botoesExtras" class="btn btn-primary btn-lg">Cadastrar</button>
  <a href="/"><button type="button" id="botoesExtras" class="btn btn-primary btn-lg">Ver Lista</button></a>
</form>
